<h1>{{title}}</h1>
<form method="POST">
  <div>
    <label for="name">Name</label>
    <input
      name="name"
      type="text"
      placeholder="Enter brand name"
      required="true"
      value=""
    />
    <label for="description">description</label>
    <input
      name="description"
      type="text"
      placeholder="Enter brand description"
      required="true"
      value=""
    />
    <button type="submit">Add new brand</button>
  </div>
</form>
{{errors}}