<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body><ul>
      <li>
        <a href="/">All Products</a>
      </li>
      <li>
        <a href="/brands">All Brands</a>
      </li>
      <li>
        <a href="/categories">All Categories</a>
      </li>
      <li>
        <a href="/brand/add">Add new brand</a>
      </li>
    </ul>
    {{{body}}}
  </body>
</html>