<h1 class="text-center page-header">All products</h1>
<div class="row">
  {{#each product_list}}
    <div class="col-sm-4 d-flex align-item-center; justify-content-center">

      <div class="card text-center my-3" style="width: 18rem;">
        <img
          src="{{this.productImage}}"
          class="card-img-top"
          alt="shell get there"
        />
        <div class="card-body">
          <h3 class="card-title">{{this.name}}</h3>

          <a href="{{this.url}}" class="btn btn-primary">View product</a>
        </div>

      </div>
    </div>
  {{/each}}

</div>